#grid {
    margin: auto;
    margin-top: 150px;
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

#grid div {
    border: 1px solid lightgray;
}